<nav class="bg-white px-6 py-4 shadow">
    <div class="flex flex-col md:flex-row items-center justify-between">
        <div class="text-2xl font-semibold text-gray-700">
            <a href="{{ path('home') }}">Estelle Degaudine</a>
        </div>
        <div class="md:flex items-center">
            <div class="flex flex-col md:flex-row md:mx-6">
                <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="{{ path('app_osteopathie') }}">Osteopathie</a>
                <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="{{ path('app_energetique') }}">Soins Energetique</a>
                <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="{{ path('app_blog') }}">Blog</a>
                <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0"  target="_blank" href="https://progenda.be/centers/degaudine-estelle">Prise de Rendez-vous</a>
                <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="{{ path('contact') }}">Contact</a>
            </div>
            <button class="md:hidden" id="menu-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
                </svg>
            </button>
                {% if app.user %}
                    <div>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <div class="relative">
                                <button class="text-blue-600 text-sm font-semibold hover:text-indigo-500 ml-2 focus:outline-none" id="admin-dropdown-toggle">
                                    Admin
                                </button>
                                <div class="absolute right-0 mt-2 py-2 w-48 bg-white border border-gray-300 rounded shadow-md hidden" id="admin-dropdown">
                                    <!-- Contenu du dropdown -->
                                    <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-500 hover:text-white" href="{{ path('admin') }}">Tableau de bord</a>
                                </div>
                            </div>
                        {% endif %}
                        <a class="text-blue-600 text-sm font-semibold hover:text-indigo-500" href="{{ path('security.logout') }}">Logout</a>
                        <a class="text-blue-600 text-sm font-semibold hover:text-indigo-500" href="{{ path('admin') }}">{{ app.user }}</a>

                    </div>
                {% else %}
                    <div>
                        <a class="text-sm font-semibold hover:text-indigo-500 text-blue-600" href="{{ path('security.login') }}">Connexion</a>
                        <a class="text-sm font-semibold hover:text-indigo-500 ml-2 text-blue-600" href="{{ path('account_register') }}">Inscription</a>
                    </div>
                {% endif %}
            </div>
        </div>
</nav>