{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold mb-5 mt-5">Contact Us</h1>

    {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

    <div class="flex flex-col">
        {{ form_label(form.name, 'Your Name', {'label_attr': {'class': 'font-bold mb-1'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'border p-2 rounded-md'}}) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="flex flex-col">
        {{ form_label(form.email, 'Your Email', {'label_attr': {'class': 'font-bold mb-1'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'border p-2 rounded-md'}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="flex flex-col">
        {{ form_label(form.message, 'Your Message', {'label_attr': {'class': 'font-bold mb-1'}}) }}
        {{ form_widget(form.message, {'attr': {'class': 'border p-2 rounded-md'}}) }}
        {{ form_errors(form.message) }}
    </div>

    <div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Send</button>
    </div>

    {{ form_end(form) }}

{% endblock %}
