{% extends "base.html.twig" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}
    <div class="container mx-auto">
    <div class="flex justify-center align-items flex-row mt-5">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path('app_blog_show', {slug: post.slug})) | url_encode }}" class="share facebook">



            <svg class="w-6 h-6 text-blue-600 fill-current mr-4" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
            </svg>
        </a>
    </div>

    <h1 class="text-5xl text-center mt-8 mb-4 text-blue-700">{{ post.title | capitalize }}</h1>
    <h2 class="text-2xl text-center mb-8">Publié le {{ post.createdAt | date('d/m/Y') }}</h2>

    {% if post.attachment%}

        <img src=" {{ vich_uploader_asset(post,'attachmentFile') }}" class="rounded-t-lg mx-auto ">

    {% endif %}
    <div class="w-2/3 mx-auto my-8 leading-6">
        {{ post.content | raw }}
        <p class="text-xs mt-8"> Dernière mise à jour le {{ post.updatedAt | date('d/m/Y') }}</p>
    </div>
    <div class="w-2/3 mx-auto my-8 leading-6">
        {% include "components/_badges.html.twig" with {
            badges: post.categories
        } %}
    </div>
    {% include "components/_like.html.twig" %}
    <div class="mt-5">
        <h2 class="text-2xl mb-8">Commentaires</h2>
        <div class="comment">
            {% if app.user %}
                <div class="comment__new">
                    <div class="w-full-width">
                        {{ form_start(form)}}
                        {{ form_label(form.content,'Nouveau Commentaire',{'attr':{'class':'form-label inline-block mb-2 text-gray-700'}}) }}
                        {{ form_widget(form.content,{'attr':{'class':'form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:bg-white focus:border-blue-600 focus:outline-none'}}) }}
                        <button class="btn inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center mt-5" type="submit" id="button-addon2">
                            Poster mon commentaire
                        </button>


                        {{ form_end(form)}}
                    </div>
                </div>
            {% endif %}
            {% for comment in post.comments %}

                {% include "components/_comment.html.twig" %}
            {% endfor %}
        </div>


        <div class="text-center mx-auto mt-6">
            <a href="{{ path('app_blog') }}"
               class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Retourner au blog
            </a>
        </div>
    </div>

{% endblock %}